
<h1>Random Ruby Symbols</h1>

<br>

<p>
  <strong>Random symbol:</strong>
  <%= @random_item.to_a %>
</p>

<br>

<%= link_to 'Refresh for another random symbol', random_symbols_path %>
<br>
<%= link_to 'Back to all symbols', ruby_symbols_path %>